*{
    margin: 10px;
    padding: 10px;
}
body {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    padding: 20px;
    font-family: Arial, sans-serif;
}
#container {
    display : grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 20px;
    font-family: Arial, sans-serif;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
.navbar-brand {
    font-family: 'Playfair Display', serif;
    height: 3px;
}
#container .celda1 {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
}
#container .celda2 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}
#container2 {
    display : grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 20px;
    font-family: Arial, sans-serif;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
#container3 {
    display : grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 20px;
    font-family: Arial, sans-serif;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

@media (max-width: 768px) {
    #container, #container2 {
        grid-template-columns: 1fr;
    }
    
}
